﻿@{
    ViewBag.Title = "Histórico";
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="@Url.Action("Index")"><span>Informes</span></a></li>
        <li class="active">Histórico</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Histórico</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Histórico Solicitudes
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Desde: </label>
                    <div class="col-sm-4">
                        @(Html.Kendo().DatePicker()
                              .Name("FechaDesde")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { style = "width: 100%" })
                              .Format("yyyy/MM/dd")
                        )
                    </div>
                    <label class="col-sm-2 control-label no-padding-right">Hasta: </label>
                    <div class="col-sm-4">
                        @(Html.Kendo().DatePicker()
                              .Name("FechaHasta")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { style = "width: 100%" })
                              .Format("yyyy/MM/dd")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Todas: </label>
                    <div class="col-sm-10">
                        @Html.CheckBox("chkTodas", new { @checked = "checked" })
                    </div>
                </div>
                <div id="dvButton">
                    <button type="button" onclick="UpdateResult();" class="btn btn-primary">Generar</button>
                    <a href="@Url.Action("Historico")" class="btn btn-warning">Reiniciar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reporte
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="chart-wrapper">
                        @(Html.Kendo().Chart<Data.Models.VwDetalleTickets>()
        .Name("chart")
        .Title("Solicitudes Por Mes")
        .DataSource(dataSource => dataSource
                    .Read(read => read.Action("GetHistoricoChart", "Informes").Data("getParameter"))
            .Group(group => group.Add(model => model.Problema))
            .Sort(sort => sort.Add(model => model.FechaCerrado).Ascending())
        )
        .Series(series =>
        {
            series.Column(model => model.Qty)
                
                .Name("#= group.value #");
        })
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels
                
                .Skip(2)
                .Step(2)
            )
        )
        .CategoryAxis(axis => axis
            .Categories(model => model.FechaCerrado)
            .Labels(labels => labels.Format("MMM"))
        )
                        )
                        @*@(Html.Kendo().Chart<Data.Models.TbTicket>()
                                  .Name("chart")
                                  .Title("Histórico de Solicitudes")
                                  .Legend(legend => legend
                                      .Position(ChartLegendPosition.Bottom)
                                  )
                                  .SeriesColors(new string[] { "#42a7ff", "#666666", "#999999", "#cccccc" })
                                  .Series(series =>
                                  {
                                      series.Pie(
                                          model => model.Estado,
                                          model => model.CreadoPor,
                                          null, // Color expression is omitted
                                          model => false
                                          );
                                  })
                                  .Tooltip(tooltip => tooltip.
                                      Template("${ category } - ${ value }%").Visible(true)
                                  )
                                  .DataSource(dataSource => dataSource
                                                      .Read(read => read.Action("GetHistoricoChart", "Informes").Data("getParameter")) //Specify the action method and controller names.
                                  )
                            )*@
                    </div>
                    <hr />
                    @(
 Html.Kendo().Grid<Data.Models.TbTicket>()
        .Name("grid")
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Columns(col =>
        {
            col.Bound(c => c.IdTicket).Title("Id").Width("10%");
            col.Bound(c => c.Titulo).Title("Título");
            col.ForeignKey(c => c.IdTipoProblema, (System.Collections.IEnumerable)ViewData["tipoProblemas"], "Value", "Text").Title("Tipo Problema");
            col.ForeignKey(c => c.Estado, (System.Collections.IEnumerable)ViewData["estados"], "Value", "Text").Title("Estado");
            col.Bound(c => c.CreadoEn).Title("Creado En").Format("{0:dd/MM/yyyy}");
            col.Bound(c => c.FechaCerrado).Title("Fecha Cierre").Format("{0:dd/MM/yyyy}");
        })

        .DataSource(dataSource => dataSource
            .Ajax()
.Read(read => read.Action("GetHistorico", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()).Data("getParameter"))
        )
        .Resizable(resize => resize.Columns(true))
        .Reorderable(reorder => reorder.Columns(true))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getParameter() {
        return {
            fDesde: $("#FechaDesde").val(),
            fHasta: $("#FechaHasta").val(),
            todas: $("#chkTodas").is(':checked')
        };
    }
    function BindGrid() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    }
    function UpdateResult() {
        BindGrid();
    }
</script>