﻿@{
    ViewBag.Title = "Informes";
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Informes</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Informes</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listado de Informes
            </div>
            <div class="panel-body">
                <a href="@Url.Action("Historico", "Informes")" class="btn btn-primary"><span>Histórico Solicitudes</span></a>
                &nbsp;
                <a href="@Url.Action("Listado", "Informes")" class="btn btn-primary"><span>Listado de Solicitudes</span></a>
                &nbsp;
                <a href="@Url.Action("TiempoGestion", "Informes")" class="btn btn-primary"><span>Tiempo Gestión de Solicitudes</span></a>
                &nbsp;
                <a href="@Url.Action("Cerradas", "Informes")" class="btn btn-primary"><span>Solicitudes Cerradas</span></a>
            </div>
        </div>
    </div>
</div>