﻿@{
    ViewBag.Title = "Listado Solicitudes";
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="@Url.Action("Index")"><span>Informes</span></a></li>
        <li class="active">Tiempo De Gestión</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listado Solicitudes</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listado Solicitudes
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Desde: </label>
                    <div class="col-sm-4">
                        @(Html.Kendo().DatePicker()
                              .Name("FechaDesde")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { style = "width: 100%" })
                              .Format("yyyy/MM/dd")
                        )
                    </div>
                    <label class="col-sm-2 control-label no-padding-right">Hasta: </label>
                    <div class="col-sm-4">
                        @(Html.Kendo().DatePicker()
                              .Name("FechaHasta")
                              .Value(DateTime.Now)
                              .HtmlAttributes(new { style = "width: 100%" })
                              .Format("yyyy/MM/dd")
                        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Todas: </label>
                    <div class="col-sm-10">
                        @Html.CheckBox("chkTodas", new { @checked = "checked" })
                    </div>
                </div>
                <div id="dvButton">
                    <button type="button" onclick="UpdateResult();" class="btn btn-primary">Generar</button>
                    <a href="@Url.Action("Historico")" class="btn btn-warning">Reiniciar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reporte
            </div>
            <div class="panel-body">
                <div class="row">
                    @(
 Html.Kendo().Grid<Data.Models.VwDetalleTickets>()
        .Name("grid")
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Columns(col =>
        {
            col.Bound(c => c.Departamento);
            col.Bound(c => c.Problema).Title("Problema");
            col.Bound(c => c.Nombre).Title("Solicitante");
            col.Bound(c => c.DescEstado).Title("Estado");
            col.Bound(c => c.CreadoEn).Title("Creado En").Format("{0:dd/MM/yyyy}");
            col.Bound(c => c.FechaCerrado).Title("Fecha Cierre").Format("{0:dd/MM/yyyy}");
        })

        .DataSource(dataSource => dataSource
            .Ajax()
        .Read(read => read.Action("GetHistoricoTiempo", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()).Data("getParameter"))
        )
        .Resizable(resize => resize.Columns(true))
        .Reorderable(reorder => reorder.Columns(true))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getParameter() {
        return {
            fDesde: $("#FechaDesde").val(),
            fHasta: $("#FechaHasta").val(),
            todas: $("#chkTodas").is(':checked')
        };
    }
    function BindGrid() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    }
    function UpdateResult() {
        BindGrid();
    }
</script>