﻿@model Data.Models.TbTicket

@{
    ViewBag.Title = "Editar Solicitud";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Solcitudes</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editar Solicitudes</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Editar Solicitud
                <a href="@Url.Action("Solicitudes")" class="btn btn-primary btn-xs" style="float: right; margin-top: 14px;" id="btnConsultar"> <i class="glyphicon glyphicon-search"></i> Consultar Solicitudes</a>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("Edit", "Tickets", new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "onSuccess", }, new { id = "frm" }))
                {
                    @Html.HiddenFor(x => x.IdTicket)
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Registrado para: </label>
                            <div class="col-sm-4">
                                @(Html.Kendo().DropDownList()
                                      .Name("idUsuarioSolicitante")
                                      .DataTextField("Nombre")
                                      .DataValueField("Codigo")
                                      .Enable(false)
                                      .HtmlAttributes(new { style = "width:100%" })
                                      .Filter("contains")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetUsuario", "Tickets");
                                          })
                                              .ServerFiltering(true);
                                      })
                                )
                                @Html.ValidationMessageFor(x => x.IdUsuarioSolicitante)
                            </div>
                            <label class="col-sm-2 control-label no-padding-right">Problema: </label>
                            <div class="col-sm-4">
                                @(Html.Kendo().DropDownList()
                                      .Name("idTipoProblema")
                                      .DataTextField("Nombre")
                                      .DataValueField("Codigo")

                                      .HtmlAttributes(new { style = "width:100%" })
                                      .Filter("contains")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("GetTipoProblemas", "Tickets");
                                          })
                                              .ServerFiltering(true);
                                      })
                                )
                                @Html.ValidationMessageFor(x => x.IdTipoProblema)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Título: </label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", maxlength = 75 })
                                @Html.ValidationMessageFor(x => x.Titulo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Descripción: </label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", maxlength = 200 })
                                @Html.ValidationMessageFor(x => x.Descripcion)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Modificado Por: </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.ModificadoPor, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <label class="col-sm-2 control-label no-padding-right">Modificado En: </label>
                            <div class="col-sm-4">

                                @Html.TextBoxFor(x => x.ModificadoEn, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Estado: </label>
                            <div class="col-sm-4">
                                @(Html.Kendo().DropDownList()
                                      .Name("estado")
                                      .DataTextField("Text")
                                      .DataValueField("Value")
                                      .OptionLabel("Seleccione...")
                                      .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem()
                                          {
                                              Text = "Abierto",
                                              Value = "A"
                                          },
                                          new SelectListItem()
                                          {
                                              Text = "Cerrado",
                                              Value = "C"
                                          },
                                          new SelectListItem()
                                          {
                                              Text = "Desestimado",
                                              Value = "D"
                                          }
                                      })
                                      .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            <label class="col-sm-2 control-label no-padding-right">Archivos: </label>
                            <div class="col-sm-4">
                                <a href="javascript:void(0)" id="btnFile" class="btn btn-primary">Subir Archivo</a>
                            </div>
                        </div>
                        <div id="dvButton">
                            <button type="submit" onclick="" class="btn btn-primary">Guardar</button>
                            <a href="@Url.Action("Solicitudes")" class="btn btn-warning">Cancelar</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Archivos
            </div>
            <div class="panel-body">
                @(Html.Kendo().Grid<Data.Models.TbAdjuntoTicket>()
        .Name("grid")
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Columns(col =>
        {
            col.Bound(c => c.IdAdjunto).Title("Id").Width("10%");
            col.Bound(c => c.RutaAdjunto).Title("Archivo");
            col.Bound(c => c.Extension).Title("Extensión");
            col.Bound(c => c.CreadoEn).Title("Creado En").Format("{0:dd/MM/yyyy}");
            col.Template(@<text></text>).ClientTemplate("<a class='btn btn-primary btn-xs' href='" + Url.Action("Download", "Tickets") + "/?fileName=#=RutaAdjunto#'><i class='glyphicon glyphicon-download-alt'></i>Descargar</a>");
        })

            .DataSource(dataSource => dataSource
                .Ajax()
                        .Read(read => read.Action("GetAdjuntos", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()).Data("getParameter"))
                )
                .Resizable(resize => resize.Columns(true))
                .Reorderable(reorder => reorder.Columns(true))
                )
            </div>
        </div>
    </div>
</div>
@*Modals*@
<div class="modal" tabindex="-1" id="nuevo">
    <div class="modal-dialog modal-lg" id="nuevo_content">

    </div>
</div>
<script type="text/javascript">
    var docRoot = '@Url.Content("~/")';
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#frm'));
        $('#btnFile').on('click', function () {
            var id = $("#IdTicket").val();
            $('#nuevo_content').html("");
            $('#nuevo_content').load(docRoot + '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Upload/' + id);
            $('#nuevo').modal('show');
        });
    });
    var onFailure = function (result) {
        alert(result);
    }
    var onSuccess = function (result) {
        if (result["state"] != undefined && result["state"] === "ok") {
            alert("Datos actualizados");
            window.location.href = "/Tickets/Solicitudes";
        }

    };

    var onSuccessFile = function (result) {
        if (result["state"] != undefined && result["state"] === "ok") {
            alert("Archivo Cargado");
            BindGrid();
            $('#nuevo').modal('hide');
            $('#nuevo_content').html("");
        }

    };

    function onSelect(e) {
        console.log(e);
        $("#RutaAdjunto").val(getFileName(e));
    }
    function onUpload(e) {
        var files = e.files;

        $.each(files, function () {

            if (this.extension.toLowerCase() !== ".pdf") {
                alert("Solo se puede subir archivo con formato .rtf!");
                e.preventDefault();
            }

            if (this.size / 1024 / 1024 > 5) {
                alert("El archivo debe pesar menos de 5mb!");
                e.preventDefault();
            }
        });
    }
    function getFileName(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        }).join(", ");
    }
    function getParameter() {
        return {
            idTicket: $("#IdTicket").val()
        };
    }
    function BindGrid() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").refresh();
    }
</script>