﻿@model Data.Models.TbTicket

@{
    ViewBag.Title = "Nueva Solicitud";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Acciones</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Solicitud de Acciones</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nueva Acción
                <a href="@Url.Action("SolicitudesB")" class="btn btn-primary btn-xs" style="float: right; margin-top: 14px;" id="btnConsultar"> <i class="glyphicon glyphicon-search"></i> Consultar Solicitudes</a>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("Create", "Tickets", new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "onSuccess", }, new { id = "frm" }))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Registrado para: </label>
                            <div class="col-sm-4">
                                @(Html.Kendo().DropDownList()
                          .Name("idUsuarioSolicitante")
                                  .DataTextField("Nombre")
                                  .DataValueField("Codigo")

                                  .HtmlAttributes(new { style = "width:100%" })
                                  .Filter("contains")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetUsuario", "Tickets");
                                      })
                                          .ServerFiltering(true);
                                  })
                                )
                                @Html.ValidationMessageFor(x => x.IdUsuarioSolicitante)
                            </div>
                            <label class="col-sm-2 control-label no-padding-right">Problema: </label>
                            <div class="col-sm-4">
                                @(Html.Kendo().DropDownList()
                   .Name("idTipoProblema")
                                  .DataTextField("Nombre")
                                  .DataValueField("Codigo")

                                  .HtmlAttributes(new { style = "width:100%" })
                                  .Filter("contains")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetTipoProblemas", "Tickets");
                                      })
                                          .ServerFiltering(true);
                                  })
                                )
                                @Html.ValidationMessageFor(x => x.IdTipoProblema)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Título: </label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", maxlength = 75 })
                                @Html.ValidationMessageFor(x => x.Titulo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Descripción: </label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control",maxlength=200 })
                                @Html.ValidationMessageFor(x => x.Descripcion)
                            </div>
                        </div>
                        <div id="dvButton">
                            <button type="submit" onclick="" class="btn btn-primary">Enviar</button>
                            <button type="reset" class="btn btn-warning">Limpiar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#frm'));
    });
    var onFailure = function (result) {
        alert(result);
    }
    var onSuccess = function (result) {
        if (result["state"] != undefined && result["state"] === "ok") {
            alert("Solicitud eviada");
            window.location.reload();
            //document.getElementById("frm").reset();
        }

    };
</script>



