﻿@model IEnumerable<Data.Models.TbTicket>
@{
    ViewBag.Title = "Consultar Solicitudes";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="@Url.Action("Index","Tickets")"><span>Nueva Solicitud</span></a></li>
        <li class="active">Consultar Solicitudes</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultar Solicitudes</h1>
    </div>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Solicitudes
            </div>
            <div class="panel-body">
                <div class="row">
                    @(
 Html.Kendo().Grid(Model)
        .Name("grid")
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Columns(col =>
        {
            col.Bound(c => c.IdTicket).Title("Id").Width("10%");
            col.Bound(c => c.Titulo).Title("Título");
            col.ForeignKey(c => c.IdTipoProblema, (System.Collections.IEnumerable)ViewData["tipoProblemas"], "Value", "Text").Title("Tipo Problema");
            col.ForeignKey(c => c.IdTipoProblema, (System.Collections.IEnumerable)ViewData["estados"], "Value", "Text").Title("Estado");
            col.Bound(c => c.CreadoEn).Title("Creado En").Format("{0:dd/MM/yyyy}");
            //col.Command(command => command.Custom("Detalles").Click("fnDetails")).Width("99px");
        })

        .DataSource(dataSource => dataSource
            .Ajax()
.Read(read => read.Action("GetMisSolcitudes", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()))

        )
        .Resizable(resize => resize.Columns(true))
        .Reorderable(reorder => reorder.Columns(true))
                    )
                </div>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->
@*Modales*@
<div class="modal" tabindex="-1" id="nuevo">
    <div class="modal-dialog modal-lg" id="nuevo_content">

    </div>
</div>

<div class="modal" tabindex="-1" id="editar">
    <div class="modal-dialog modal-lg" id="editar_content">

    </div>
</div>

<div class="modal" tabindex="-1" id="detalle">
    <div class="modal-dialog modal-lg" id="detalle_content">

    </div>
</div>

<script type="text/javascript">
    var docRoot = '@Url.Content("~/")';
    function fnDetails(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $('#detalle_content').html("");
        $('#detalle_content').load(docRoot + '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Details/' + parseInt(dataItem.IdAccion));
        $('#detalle').modal('show');
    }

    function fnRechazr(id) {
        $.post(docRoot + '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Rechazar/', { EstadoRh: "R", IdAccion: id })
            .done(function (data) {
                if (data["state"] != undefined && data["state"] === "ok") {
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();

                    $('#detalle').modal('hide');
                    $('#detalle_content').html("");
                    alert("Acción Rechazada...");
                }
                else {
                    alert("Ha ocurrido un error...");
                }
            });
    }
    var onFailure = function (result) {
        alert(result);
    }
    var onSuccess = function (result) {
        debugger;
        if (result["state"] != undefined && result["state"] === "ok") {
            $('#grid').data('kendoGrid').dataSource.read();
            $('#grid').data('kendoGrid').refresh();

            //
            $('#detalle').modal('hide');
            $('#detalle_content').html("");
        }
        //$.each(result, function(key, value) {
        //    if (value.length !== 0) {
        //        $("#" + key).next().append(value);
        //    }
        //});
    };
</script>
