﻿@model Data.Models.TbAdjuntoTicket
@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Ajax.BeginForm("Upload", "Tickets", new AjaxOptions { HttpMethod = "POST", OnFailure = "onFailure", OnSuccess = "onSuccessFile", }, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Nuevo</h4>
        </div>
        @Html.HiddenFor(x => x.IdTicket)
        <div class="modal-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> Formato: </label>
                        <div class="col-sm-6">
                            @(Html.Kendo().DropDownList()
                                      .Name("extension")
                                      .DataTextField("Text")
                                      .DataValueField("Value")
                                      .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem()
                                          {
                                              Text = "PDF",
                                              Value = "pdf"
                                          },
                                          new SelectListItem()
                                          {
                                              Text = "Ms Word",
                                              Value = "docx"
                                          }
                                      })
                                      .Value("pdf")
                                      .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> Documento: </label>
                        <div class="col-sm-6">
                            @(Html.Kendo().Upload()
                                    .Name("files")
                                    .Async(a => a
                                    .Save("SaveFile", "Tickets")
                                    .Remove("RemoveFile", "Tickets")
                                    .AutoUpload(true)
                                    )
                                    .Multiple(false)
                                    .Events(events => events
                                    .Select("onSelect").Upload("onUpload")
                                    )
                            )
                            <p class="help-block">Seleccione un archivo con formato *pdf.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> Nombre físico: </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.RutaAdjunto, new { @class = "form-control", maxlength = "400", placeholder = "Nombre físico", autocomplete = "off", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
                <i class="ace-icon fa fa-times"></i>
                Cancelar
            </button>

            <button class="btn btn-sm btn-primary" type="submit">
                <i class="ace-icon fa fa-check"></i>
                Guardar
            </button>
        </div>
    </div>
}
