﻿@model IEnumerable<Data.Models.NavBar>
<ul class="nav menu">
    @foreach (var item in Model)
    {
        <li class="@item.Activeli">
            <a href="@Url.Action(item.Action, item.Controller)"><i class="@item.ImageClass"></i> @item.NameOption</a>
        </li>
    }
    <li role="presentation" class="divider"></li>
    <li><a href="@Url.Action("about","Home")"><span class="glyphicon glyphicon-info-sign"></span> Acerca de</a></li>
</ul>